@charset "UTF-8";
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  text-align: center;
  grid-gap: 10px;
  padding: 10px;
}

/* #item1{
	grid-template-columns: auto auto auto;
	background-color: white;
	
}
#item5{
	grid-column-start: 1;
	grid-column-end: 4;
}
#item4{
	display: grid;
 	grid-template-rows: 200px;
} */

#category{
	grid-column-start: 1;
	grid-column-end: 7;
	border: 1px solid rgba(0, 0, 0.8);
}

</style>
</head>
<body>